<!DOCTYPE html>
<html>
<head>
	<title>Semantic UI</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body style="background: #F6F6F6">
<div class="ui inverted menu" style="position: sticky; top: 0; z-index: +1;">
	<div class="ui container">
	<a href="/" class="item"><i class="in flag"></i></a>
	<a  href="/" class="item"><b>The Dashbord</b></a>
	<a href="#" class="item">About</a>
	<a href="#" class="item">Hire Me</a>
	<div class="right menu">
	</div>
	</div>
</div> 
<div class="ui container" style="width:60%;">
<h1 style="color:grey;"><u>Welcome to Dashbord</u></h1>
<b><a href="/upload">Admin LOGIN Here For Secret Page</a></b><br>
<h2>Name: </h2>
<h3>Username: </h3>
<h3>Date: </h3>
<h3>Status: </h3>
</div>
</body>
</html>