<!DOCTYPE html>
<html>
<head>
	<title>Semantic UI</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body style="background: #F6F6F6">
<div class="ui inverted menu" style="position: sticky; top: 0; z-index: +1;">
	<div class="ui container">
	<a href="/" class="item"><i class="in flag"></i></a>
	<a  href="/" class="item"><b>Admin Secret</b></a>
	<a href="#" class="item">About</a>
	<a href="#" class="item">Hire Me</a>
	<div class="right menu">
		<div class="ui fluid category search">
  	<div class="results"></div>
	</div>
		<a href="#" class="item"><b>Hii, Admin</b></a>
		<a href="/logout" class="item">Logout</a>
	</div>
	</div>
</div> 
<div class="ui container" style="width:60%;">

<h1 style="color:grey;"><u>The Secret Data</u></h1>
<p style="color:red;">This data is Set default inside "Schema".</p>
<h2>Name: <%=data[0].name%></h2>
<h3>Username: <%=data[0].username%></h3>
<h3>Date: <%=data[0].date%></h3>
<h3>Status: <%=data[0].status%></h3>
<form action="/download" method="GET">
<input type="submit" value="Download PDF">
</form>
</div>
</body>
</html>